# Importing Data and Required Library

In [4]:
import pandas as pd #pandas for working with dataframes
data = pd.read_csv('data.csv') #reading the data given

# Data Cleaning

In [5]:
data.head() #checking head of data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [6]:
data.info() #checking basic info of data regarding the features and number of entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
Rank            16598 non-null int64
Name            16598 non-null object
Platform        16598 non-null object
Year            16327 non-null float64
Genre           16598 non-null object
Publisher       16540 non-null object
NA_Sales        16598 non-null float64
EU_Sales        16598 non-null float64
JP_Sales        16598 non-null float64
Other_Sales     16598 non-null float64
Global_Sales    16598 non-null float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

# Checking number of NULL values

In [7]:
data.isnull().sum() #it will show missing values

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

# Droping NULL values of Year and Publisher column.

In [10]:
data = data.dropna(axis=0, subset=['Year','Publisher']) #we cannot impute missing year value and publisher value

In [11]:
data.isnull().sum() #now there is no missing value in our data

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [12]:
data['Year'] = data['Year'].apply(int)  #Converting all year values to integer values

In [13]:
data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

# Grouping on Platform and Year

In [14]:
new = pd.DataFrame(data.groupby(['Platform','Year']).count()) #grouping on Platform and Year

In [15]:
new #checking the dataframe

               Rank  Name  Genre  Publisher  NA_Sales  EU_Sales  JP_Sales  \
Platform Year
2600     1980     9     9      9          9         9         9         9
         1981    46    46     46         46        46        46        46
         1982    36    36     36         36        36        36        36
         1983    11    11     11         11        11        11        11
         1984     1     1      1          1         1         1         1
         1985     1     1      1          1         1         1         1
         1986     2     2      2          2         2         2         2
         1987     6     6      6          6         6         6         6
         1988     2     2      2          2         2         2         2
         1989     2     2      2          2         2         2         2
3DO      1994     1     1      1          1         1         1         1
         1995     2     2      2          2         2         2         2
3DS      2011   116   116    116        116       116       116       116
         2012    93    93     93         93        93        93        93
         2013    91    91     91         91        91        91        91
         2014    78    78     78         78        78        78        78
         2015    86    86     86         86        86        86        86
         2016    35    35     35         35        35        35        35
DC       1998     7     7      7          7         7         7         7
         1999    14    14     14         14        14        14        14
         2000    20    20     20         20        20        20        20
         2001     8     8      8          8         8         8         8
         2002     1     1      1          1         1         1         1
         2007     1     1      1          1         1         1         1
         2008     1     1      1          1         1         1         1
DS       1985     1     1      1          1         1         1         1
         2004    23    23     23         23        23        23        23
         2005   118   118    118        118       118       118       118
         2006   202   202    202        202       202       202       202
         2007   377   377    377        377       377       377       377
...             ...   ...    ...        ...       ...       ...       ...
WiiU     2012    32    32     32         32        32        32        32
         2013    42    42     42         42        42        42        42
         2014    31    31     31         31        31        31        31
         2015    28    28     28         28        28        28        28
         2016    10    10     10         10        10        10        10
X360     2005    18    18     18         18        18        18        18
         2006    93    93     93         93        93        93        93
         2007   123   123    123        123       123       123       123
         2008   146   146    146        146       146       146       146
         2009   173   173    173        173       173       173       173
         2010   182   182    182        182       182       182       182
         2011   206   206    206        206       206       206       206
         2012   106   106    106        106       106       106       106
         2013    75    75     75         75        75        75        75
         2014    64    64     64         64        64        64        64
         2015    40    40     40         40        40        40        40
         2016     8     8      8          8         8         8         8
XB       2000     1     1      1          1         1         1         1
         2001    33    33     33         33        33        33        33
         2002   158   158    158        158       158       158       158
         2003   189   189    189        189       189       189       189
         2004   177   177    177        177       177       177       177
         2005   179   179    179        179       179       179       179
         2006    62    62     62         62        62        62        62
         2007     3     3      3          3         3         3         3
         2008     1     1      1          1         1         1         1
XOne     2013    19    19     19         19        19        19        19
         2014    61    61     61         61        61        61        61
         2015    79    79     79         79        79        79        79
         2016    54    54     54         54        54        54        54

               Other_Sales  Global_Sales
Platform Year
2600     1980            9             9
         1981           46            46
         1982           36            36
         1983           11            11
         1984            1             1
         1985            1             1
         1986            2             2
         1987            6             6
         1988            2             2
         1989            2             2
3DO      1994            1             1
         1995            2             2
3DS      2011          116           116
         2012           93            93
         2013           91            91
         2014           78            78
         2015           86            86
         2016           35            35
DC       1998            7             7
         1999           14            14
         2000           20            20
         2001            8             8
         2002            1             1
         2007            1             1
         2008            1             1
DS       1985            1             1
         2004           23            23
         2005          118           118
         2006          202           202
         2007          377           377
...                    ...           ...
WiiU     2012           32            32
         2013           42            42
         2014           31            31
         2015           28            28
         2016           10            10
X360     2005           18            18
         2006           93            93
         2007          123           123
         2008          146           146
         2009          173           173
         2010          182           182
         2011          206           206
         2012          106           106
         2013           75            75
         2014           64            64
         2015           40            40
         2016            8             8
XB       2000            1             1
         2001           33            33
         2002          158           158
         2003          189           189
         2004          177           177
         2005          179           179
         2006           62            62
         2007            3             3
         2008            1             1
XOne     2013           19            19
         2014           61            61
         2015           79            79
         2016           54            54

[241 rows x 9 columns]

In [16]:
main = new.loc[['X360','Wii','PC']] #creating dataframe
main = main.reset_index(level=['Year','Platform'])

In [17]:
main

,Platform,Year,Rank,Name,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,PC,1985,1,1,1,1,1,1,1,1,1
1,PC,1988,1,1,1,1,1,1,1,1,1
2,PC,1992,5,5,5,5,5,5,5,5,5
3,PC,1994,6,6,6,6,6,6,6,6,6
4,PC,1995,2,2,2,2,2,2,2,2,2
5,PC,1996,4,4,4,4,4,4,4,4,4
6,PC,1997,6,6,6,6,6,6,6,6,6
7,PC,1998,8,8,8,8,8,8,8,8,8
8,PC,1999,7,7,7,7,7,7,7,7,7
9,PC,2000,7,7,7,7,7,7,7,7,7
10,PC,2001,15,15,15,15,15,15,15,15,15
11,PC,2002,19,19,19,19,19,19,19,19,19
12,PC,2003,33,33,33,33,33,33,33,33,33
13,PC,2004,31,31,31,31,31,31,31,31,31
14,PC,2005,37,37,37,37,37,37,37,37,37
15,PC,2006,52,52,52,52,52,52,52,52,52
16,PC,2007,63,63,63,63,63,63,63,63,63
17,PC,2008,76,76,76,76,76,76,76,76,76
18,PC,2009,109,109,109,109,109,109,109,109,109
19,PC,2010,88,88,88,88,88,88,88,88,88
20,PC,2011,137,137,137,137,137,137,137,137,137
21,PC,2012,61,61,61,61,61,61,61,61,61
22,PC,2013,38,38,38,38,38,38,38,38,38
23,PC,2014,44,44,44,44,44,44,44,44,44
24,PC,2015,50,50,50,50,50,50,50,50,50
25,PC,2016,38,38,38,38,38,38,38,38,38
26,Wii,2006,44,44,44,44,44,44,44,44,44
27,Wii,2007,187,187,187,187,187,187,187,187,187
28,Wii,2008,282,282,282,282,282,282,282,282,282
29,Wii,2009,325,325,325,325,325,325,325,325,325
30,Wii,2010,254,254,254,254,254,254,254,254,254
31,Wii,2011,144,144,144,144,144,144,144,144,144
32,Wii,2012,32,32,32,32,32,32,32,32,32
33,Wii,2013,12,12,12,12,12,12,12,12,12
34,Wii,2014,6,6,6,6,6,6,6,6,6
35,Wii,2015,4,4,4,4,4,4,4,4,4
36,X360,2005,18,18,18,18,18,18,18,18,18
37,X360,2006,93,93,93,93,93,93,93,93,93
38,X360,2007,123,123,123,123,123,123,123,123,123
39,X360,2008,146,146,146,146,146,146,146,146,146
40,X360,2009,173,173,173,173,173,173,173,173,173
41,X360,2010,182,182,182,182,182,182,182,182,182
42,X360,2011,206,206,206,206,206,206,206,206,206
43,X360,2012,106,106,106,106,106,106,106,106,106
44,X360,2013,75,75,75,75,75,75,75,75,75
45,X360,2014,64,64,64,64,64,64,64,64,64
46,X360,2015,40,40,40,40,40,40,40,40,40
47,X360,2016,8,8,8,8,8,8,8,8,8

In [18]:
PC = main[main['Platform'] == "PC"].loc[19:24]  ##three dataframes from which we will do plotting
WII = main[main['Platform'] == "Wii"].loc[30:35]
X360 = main[main['Platform'] == "X360"].loc[41:46]

In [19]:
PC

,Platform,Year,Rank,Name,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
19,PC,2010,88,88,88,88,88,88,88,88,88
20,PC,2011,137,137,137,137,137,137,137,137,137
21,PC,2012,61,61,61,61,61,61,61,61,61
22,PC,2013,38,38,38,38,38,38,38,38,38
23,PC,2014,44,44,44,44,44,44,44,44,44
24,PC,2015,50,50,50,50,50,50,50,50,50

In [20]:
WII

,Platform,Year,Rank,Name,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
30,Wii,2010,254,254,254,254,254,254,254,254,254
31,Wii,2011,144,144,144,144,144,144,144,144,144
32,Wii,2012,32,32,32,32,32,32,32,32,32
33,Wii,2013,12,12,12,12,12,12,12,12,12
34,Wii,2014,6,6,6,6,6,6,6,6,6
35,Wii,2015,4,4,4,4,4,4,4,4,4

In [21]:
X360

,Platform,Year,Rank,Name,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
41,X360,2010,182,182,182,182,182,182,182,182,182
42,X360,2011,206,206,206,206,206,206,206,206,206
43,X360,2012,106,106,106,106,106,106,106,106,106
44,X360,2013,75,75,75,75,75,75,75,75,75
45,X360,2014,64,64,64,64,64,64,64,64,64
46,X360,2015,40,40,40,40,40,40,40,40,40

# Plotting with Bokeh

In [32]:
from bokeh.core.properties import value
from bokeh.io import show, output_file
from bokeh.models import ColumnDataSource
from bokeh.plotting import figure
from bokeh.transform import dodge

output_file("Dodged_Bar Chart.html")

years = ['2010','2011','2012','2013','2014','2015'] #years will be shown on x-axis
platform = ['PC','Wii','X360'] #will be represented on stacked bar
colors = ["#02b8ab", "#374649", "#fd625e"] #color palette

data = {'years' : years,     #### data extracted from three dataframes which is to be plotted
        'PC'   : list(PC['Rank']),
        'Wii'   : list(WII['Rank']),
        'X360'   : list(X360['Rank'])}

source = ColumnDataSource(data=data)

p = figure(x_range=years, y_range=(0, 500), plot_height=600,plot_width=1000, title="Count of Publisher by Year and Platform",
           toolbar_location=None, tools="")

p.vbar(x=dodge('years', -0.25, range=p.x_range), top='PC', width=0.2, source=source,
       color=colors[0], legend=value("PC"))

p.vbar(x=dodge('years',  0.0,  range=p.x_range), top='Wii', width=0.2, source=source,
       color=colors[1], legend=value("Wii"))

p.vbar(x=dodge('years',  0.25, range=p.x_range), top='X360', width=0.2, source=source,
       color=colors[2], legend=value("X360"))

p.x_range.range_padding = 0.1
p.xgrid.grid_line_color = None
p.legend.location = "top_right"
p.legend.orientation = "horizontal"

show(p) #open browser

# The code above will generate a html file containing the plot.